@import 'src/styles/vars';

.kanbans-view{
min-height: 100vh;
background-color: $dark-color;

  &-head{
    padding: 2em;
    width: 100%;
    margin-bottom: 2em;
    background: linear-gradient(90deg, $alt-color, $alt-dark-color);

    &-title{
      // font-weight: 700;
      font-size: 2em;
      font-family: $font-title;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    &-subtitle{
      font-weight: 700;
    }
  }

  &-list{
    background-color:$neutral-color;
    margin: 1rem 2rem 1rem 2rem;
  }
}

.kanban {
  padding: 1em;


  &:hover{
    box-shadow: 5px 10px $alt-dark-color;
  }

  &-title{
    text-align: left;
    font-size: 1.3em;
    margin-bottom: 0.3em;
  }

  &-subtitle{
    font-style: italic;
    color: $lightest-color;
    text-transform: none;
    letter-spacing: none;
  }
}


@media screen and (min-width:600px){
  .kanbans-view{
    padding:5rem 0 5rem 0;
    width: 60%;
    margin: auto;
    min-height: 100%;  
}
}
