@use 'src/styles/vars.scss';

.homepage{
  height: 100vh;
  text-align: center;
  background-image: url('src/assets/images/opened_book.png');
  background-position: bottom right;
  background-size:85%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  &-image{
    width: 40%;
    position: absolute bottom;
  }

  &-title{
    margin: 2rem;
    font-size: 3rem;
  }
}

@media screen and (min-width:600px){
  .homepage{
    background-size:65%;
  }
}

@media screen and (min-width:800px){
  .homepage{
    background-size:50%;
  }
}

@media screen and (min-width:1000px){
  .homepage{
    background-size:40%;
  }
}

