@use '../../styles/vars';

.admin_panel_article {
  background-color: vars.$lightest-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &-title{
    width: 80%;
    padding: 1em;
    margin-top: 3em;
    background-color: vars.$dark-color;
    border-radius: 5px;
    color: vars.$lightest-color;
    font-weight: bold;
    margin-bottom: 4em;
  }

  &-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-part{
      width: 80%;
      padding: 1em;
      background-color: vars.$primary-color;
      border-radius: 5px;
      color: vars.$lightest-color;
      font-weight: bold;
      margin-bottom: 1em;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      // &-icons{
      //   width: 30%;
      //   display: flex;
      //   flex-direction: row;
      //   align-items: flex-end;
      //   justify-content: space-between;
      // }

    }

  }

}

//TODO intégrer dans le scss

.admin_panel_article_content-part-icons {

  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

}
