@import '../../styles/vars';

.container{
  position:relative;
}

.admin_panel_article {
  height: 100vh;
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
  background-color: $dark-color;
  
  &-title{
     width: 90%;
     font-weight: bold;
    padding: 2em;
    margin-bottom: 2em;
    background-color: $alt-dark-color;
    font-family: $font-title;
    font-size:1.3rem;
    
  }

  &-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-part{
      position: relative;
       width: 90%;
       padding: 1em;
       background-color: $neutral-color;
      // border-radius: 5px;
      // color: $lightest-color;
       //font-weight: bold;
       margin-bottom: 1em;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;

      // &-icons{
      //   width: 30%;
      //   display: flex;
      //   flex-direction: row;
      //   align-items: flex-end;
      //   justify-content: space-between;
      // }

    }

  }

}

//TODO intégrer dans le scss

.admin_panel_article_content-part-icons {

  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

}

.admin_panel_article_content-part-class {
  display: flex;
}

.admin_panel_article-content-part-article {
  font-weight: bold;
}

.admin_panel_article-content-part-join {

}
.association-modale{
  position: absolute;
  background-color: $neutral-color;
  box-shadow: 5px 7px $alt-dark-color;
  border-radius: 5px;
  top:20%;
  left:3%;

  &-close{
    width: 100%;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
  }

  &-form{
  padding:4rem;
  }
  &-select{
  width: fit-content;
  border:none;
  padding:0.5rem;
  margin: 2rem;

  }
}

.blur {
  filter:blur(5px);
}

.classusername-tag{
  font-size: 0.7em;
  color: $lightest-color;
  padding: 5px;
}

.classusername-container{
  display: flex;
  background: linear-gradient(90deg, $alt-color, $alt-dark-color);
  margin-right: 7px;
  border-radius: 5px;
  box-shadow: 4px 7px $dark-color;
}


@media screen and (min-width:600px){
  .admin_panel_article{
    width: 70%;
    margin: auto;
  }
}

.class-remove {
  padding: 4px;
  transition: background-color 0.5s ease;
  &:hover{
  margin-left: 10px;
  background-color: $dark-color;
  height: 100%;
  cursor: pointer;
  display: inline-block;
  }
}
