@use 'src/styles/vars';

.kanban-detail{
  margin:1.3em;
  background-color: vars.$lightest-color;
  padding: 1em;
  position: relative;
  overflow-y: hidden;

  &-adding-button{
    color:white;
    font-size: 1.4rem;
  }
  &-head{
    background-color: vars.$color;
    padding: 2em 1em;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  

    &--title{
      font-weight: 700;
      font-size: 1.7em;
      color: vars.$lightest-color;
      font-family: vars.$font-title;

    }
    &--subtitle{
      font-size: 1.2em;
    }
  }
  &-grid{
    display: flex;
    flex-wrap: wrap;
  }
}

.kanban-list{
  margin-top: 1em;
    &-title{
      background-color: vars.$alt-dark-color;
      padding: 1.5em;
      font-size: 1.2em;
      display: flex;
      justify-content: space-around;
      width: 100%;
    }  
  }

.kanban-card {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 10px vars.$color;
  border-radius: 0 0 0.7em 0.7em;
  background-color:vars.$lightest-color ;
  margin-top: 1em;

  &-content{
    text-align: justify;
    padding: 1em;
  }
  &-title{
    text-align: right;
    font-size: 1.3em;
    font-weight: 700;
    width: 100%;
    background-color: vars.$light-color;
    padding: 1em 0.5em;
      }
    }

.tag {
  border-radius: 5px;
  background-color: vars.$color;
  color: vars.$lightest-color;
  font-weight: 700;
  padding: 5px 10px;
  margin: 0.5em;
}

.modal{
  position: absolute;
  background-color:white;
  left:0;
  color: black;
  top:30%;
  border-radius:1em;
  padding: 1em;
  box-shadow: 5px 10px vars.$alt-dark-color;

  &-input,&-textarea{
    margin: 1em;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    border:lightgray 1px solid;
    &:focus{
      box-shadow: 5px 10px vars.$light-color;
      outline:none
    }
  }

  &-textarea{
    height: 10rem;
  }

  &-close-button{
    width: 100%;
    text-align: right;
    color: black;
  }
}

  @media screen and (min-width:600px){
    .kanban-list{
    &-content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

    }}
    .kanban-card{
      width: 100%;
    }
  }
  @media screen and (min-width:1000px){
    .kanban-detail{

    }
    .kanban-detail-grid{
      display: flex;
      flex-wrap: nowrap;      
      width:100%;
      overflow-x: auto;
    }
    .kanban-list{
      width: 25rem;
    &-title{
      height: 7rem;
    }
    
  &-content{
    
  }}
  }

/*scrollbar*/

::-webkit-scrollbar {
  background-color: vars.$light-color;

}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg,vars.$color,vars.$dark-color);
}
