@import '../../styles/vars';

.admin_panel_class {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  
  &-title{
    width: 100%;
    font-weight: bold;
    padding: 2em;
    margin-bottom: 2em;
    background: linear-gradient(90deg, $alt-color, $alt-dark-color);
    font-family: $font-title;
    font-size:2rem;
    letter-spacing: 3px;
    text-transform: uppercase;

  }

  &-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-part{
       width: 90%;
       padding: 1em;
       background-color: $neutral-color;
       margin-bottom: 1em;
       justify-content: space-between;
    }

  }

}

.admin_panel_class_content-part-icons {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;


}

.admin_panel_class-content-part-class{
  font-weight: 700;
  font-size: 1.1rem;
}

.admin_panel_kanban-content-part-description {
  font-weight: bold;
}

.admin_panel_article_content-part-description {
  display: flex;
}


@media screen and (min-width:600px){
  .admin_panel_class{
    width: 70%;
    margin: auto;
    height: 100vh;
    background-color: $dark-color;

    &-content{
      &-part{
        display: flex;

      }
    }
  }
  .admin_panel_class-content-part-class{
    width: 40%;
  }

  .admin_panel_article_content-part-description{
    width: 30%;
  }
  .admin_panel_class_content-part-icons {
    width: 30%;
  }
}
