@import 'src/styles/vars.scss';
.articles-view{
  margin: 1rem;
  // display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  background-image: url('src/assets/images/classes.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size:70%;
  background-color: $dark-color;


  &-title{
    font-size: 2.5rem;
    font-weight: $title-font-weight;
    font-family: $font-title;
    margin-bottom: 3rem;
  }
}

.article {
  margin: 2rem;
  background-color: $alt-dark-color;
  padding: 0.8em;
  position: relative;

  &-head{
    margin-bottom: 1em;

    &-title{
      font-weight: $title-font-weight;
      font-family: $font-title;
      font-size: 2rem;
      position: absolute;
      top:-13px;
    }
  }

  &-excerpt{
    text-align: justify;
  }

  &-route{
    text-align: right;
  }
  
}

@media screen and (min-width:600px){
  .articles-view{
    padding: 3rem;
    padding-top:7rem;
    width: 70%;
    margin: auto;
  }

  .article{
      padding: 3rem;
  }
}
