@use 'src/styles/vars.scss';
.articles-view{
  margin: 1rem;
  // display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  background-image: url('src/assets/images/classes.png');
  background-position: bottom right;
  background-size:70%;
  background-repeat: no-repeat;


  &-title{
    font-size: 2rem;
    font-weight: 700;
    font-family: vars.$font-title;
  }
}

.article {
  margin: 2rem;
  background-color: vars.$alt-dark-color;
  padding: 0.8em;

  &-head{
    margin-bottom: 1em;

    &-title{
    font-weight: 700;
    font-size: 1.4em;
    }
  }

  &-excerpt{
    text-align: justify;
  }

  &-route{
    text-align: right;
  }
  
}

@media screen and (min-width:600px){
  .articles-view{
    padding: 3rem;
    width: 70%;
    margin: auto;
  }

  .article{
      padding: 3rem;
  }
}
