@use '../../styles/vars';

.admin_menu {
  background-color: vars.$lightest-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &-title {
    width: 80%;
    padding: 1em;
    margin-top: 3em;
    background-color: vars.$dark-color;
    border-radius: 5px;
    color: vars.$lightest-color;
    font-family: vars.$font-title;
    font-size: 1.5rem;
    margin-bottom: 2.5em;
  }

  &-button {
    width: 80%;
    padding: 1em;
    margin-top: 3em;
    background-color: vars.$color;
    border-radius: 5px;
    color: vars.$lightest-color;
    font-weight: bold;
  }
}


@media screen and (min-width:600px){
  .admin_menu{
    width: 70%;
    margin: auto;
  }
}
