@import 'src/styles/vars.scss';

.article-detail{
  width: 90%;
  margin: auto;

  &-head{
    margin-top: 4rem;
    padding: 1.2em;
    background-color: $dark-color;

    &-title{
      font-weight: 700;
      font-size: 2em;
      margin-bottom: 0.5em;
      font-family: $font-title;
    }

    &-subtitle {
      font-weight: 700;
      font-style: italic;
    }
  }
  
  &-content {
      text-align: justify;
      padding: 1em;
      background-color: $neutral-color;
  }
  &-back {
      margin-top: 1em;
      padding: 0.5em;
      border-radius: 5px;
      width: fit-content;
      background-color: $alt-dark-color;

  }
}


@media screen and (min-width:600px){
  .article-detail{
    margin-top: 2rem;
    width: 50%;
    margin: auto;

    &-content{
      padding: 3rem;
    }
  }

}
