@import 'src/styles/vars.scss';

html{
  min-height: 100%; 
  background-attachment: fixed;
  background-color: $color;
  background-repeat: no-repeat;
  background-image: url('src/assets/images/blur.jpg');
  background-attachment: fixed;
  background-size: cover;
}

body{
  position: relative;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.5em;
}
.app {
  color:white;
}

a{
  color: rgb(198, 165, 235) !important;
  text-transform: uppercase;
  letter-spacing: 3px;

  &:hover{
    box-shadow: inset 0 -6px 0 $alt-dark-color;
  }
}

button {
  border:none;
  padding: 10px;
  border-radius: 5px;
  background-color: $dark-color;
  color:$lightest-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;

  &:hover{
    background-color: $primary-color;
    color:white;
  }
}

button {
  cursor:pointer;
}

p{
  white-space: pre-line;
}
