@use 'src/styles/vars.scss';

html{
  min-height: 100%; 
  background-attachment: fixed;
  background-color: black;
}

body{
  // background-size: 100%;
  // background-color: transparent !important;
    background-repeat: no-repeat;
  background: linear-gradient(217deg, rgba(2, 0, 7, 0.8), rgba(57, 28, 126,0) 70.71%),
  linear-gradient(127deg, rgba(50, 3, 88, 0.8), rgba(77, 2, 92, 0) 70.71%),
  linear-gradient(336deg, rgba(185, 50, 117, 0.8), rgba(54, 15, 77, 0) 70.71%) !important;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  line-height: 1.5em;
  min-height: 100vh; 
}
.app {
  color:white;
}

a{
  color: rgb(198, 165, 235) !important;
  text-transform: uppercase;
  letter-spacing: 3px;

  a:hover{

  }
}

button {
  border:none;
  padding: 10px;
  border-radius: 5px;
  background-color: vars.$dark-color;
  color:vars.$lightest-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;

  &:hover{
    background-color: vars.$primary-color;
    color:white;
  }
}
