@use 'src/styles/vars.scss';

.login{
  align-self: center;
  margin-top:3rem;
  display: flex;
  justify-content: center;

  &-loader{
    width: 20%;
  }

  &-button{
    align-self: center;
    padding: 1.6rem;
    margin-top: 5rem;
  }

  &-form{
  background-color:vars.$color;
  width: 80%;
  border-radius: 5px;
  padding: 1rem;

    &-inputs{
      margin: 5px;
      
      &>input{
        margin: 10px;
        border:none;
        padding:10px;
        }
      }
  }
}

