@import 'src/styles/vars.scss';

.login{
  align-self: center;
  display: flex;
  justify-content: center;

  &-loader{
    width: 20%;
  }

  &-button{
    padding: 1.6rem;
  }

  &-form{
  background-color:$alt-dark-color;
  width: 80%;
  border-radius: 5px;
  padding: 1rem;

  &-error-message{
    box-shadow: inset 0 -12px 0 $primary-color;
    font-weight: 700;

  }

    &-inputs{
      margin: 5px;
      
      &-username,select{
        margin: 10px;
        border:none;
        padding:10px;
        width: 82%;
        border-radius: 5px;
        }
      }

  }

  &-admin{
    color:$dark-color;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    margin-top: 1.2rem;

    &:hover{
      color:$lightest-color;
    }
  }
}

.inputs-password {
  width: 74%;
  padding:10px;
  border:none;

}

