@import 'src/styles/vars';

.menu {
  @media (max-width: 767px) {
    display: none;
  }
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 1em;
  background-color: $neutral-color;
  position:fixed;
  top:0;
  width: 100%;
  z-index:100;

  &-title {
    font-size: 1.8em;
    font-family: $font-title;
    background-image: linear-gradient(90deg, rgba(2, 0, 7, 0.8), rgba(57, 28, 126,0) 70.71%),
    linear-gradient(127deg, rgba(50, 3, 88, 0.8), rgba(77, 2, 92, 0) 70.71%),
    linear-gradient(336deg, rgba(185, 50, 117, 0.8), rgba(54, 15, 77, 0) 70.71%) !important;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
    text-shadow: 5px 0px $light-color;
  }

  &-nav {
    display: flex;
    justify-content: space-evenly;
  }

  &-link {
    margin: 0 1rem;
    cursor: pointer;

    &:hover {
      color: $lightest-color;
      font-weight: 700;
    }
  }
}
