// $primary-color:#eab875;
// $secondary-color:#f7d2a2;
// $color:#f3cc91;
// $alt-color:#f3e3e2;
// $dark-color:#7bc5c1;
// $alt-dark-color:#94d6d3;
// $light-color: #e8e8e8;
// $lightest-color:#fff;


$primary-color:#34184b;
$secondary-color:#F2DDC2;
$color:#58173A;
$alt-color:#c2433d;
$dark-color:#2e2433;
$alt-dark-color:rgb(114, 51, 130);
$light-color: #e8e8e8;
$lightest-color:#fff;
$darkest-color:#000;
$neutral-color:rgb(76, 62, 83); 

$font-title: 'Oswald', sans-serif;
$title-font-weight:500;



