// $primary-color:#eab875;
// $secondary-color:#f7d2a2;
// $color:#f3cc91;
// $alt-color:#f3e3e2;
// $dark-color:#7bc5c1;
// $alt-dark-color:#94d6d3;
// $light-color: #e8e8e8;
// $lightest-color:#fff;


$primary-color:#7B42E7;
$secondary-color:#F2DDC2;
$color:#8655ad;
$alt-color:#E88EB6;
$dark-color:#FFC600;
$alt-dark-color:#94d6d3;
$light-color: #e8e8e8;
$lightest-color:#fff;
$darkest-color:#000;

$font-title: 'Righteous', cursive;
